﻿<div ng-controller="departmentController">
    <h1>Departments</h1>
    <div class="row">
        <button class="btn btn-primary pull-right" id="addDepartment" ng-click="showAddDepartmentDialog()">Add Department</button>
    </div>

    <div class="modal fade" id="modal-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{settings.title}}</h4>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <form class="form-horizontal" name="form">
                                <div class="form-group">
                                    <label for="id" class="col-sm-2 control-label">Id</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id" readonly="readonly" ng-model="department.Id" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" ng-required ng-model="department.Name" />
                                    </div>
                                </div>                               
                            </form>
                            <div class="form-group has-error">
                                <div ng-repeat="error in errors" class="control-label">{{error}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" ng-click="saveDepartment()">Save</button>
                </div>
            </div>
        </div>
    </div>


    <hr />
    <div class="row">
        <table id="dpmts" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>                   
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="dpmt in departments">
                <tr ng-click="selectDepartment(dpmt)">
                    <td> <span>{{dpmt.Id}}</span></td>
                    <td> <span>{{dpmt.Name}}</span></td>
                    <td> <button class="btn btn-danger" ng-click="deleteDepartment(dpmt); $event.stopPropagation()">Delete</button> </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
