﻿<div ng-controller="employeeController">
    <h1>Employees</h1>
    <div class="row">
        <button class="btn btn-primary pull-right" id="addEmployee" ng-click="showAddEmployeeDialog()">Add Employee</button>
    </div>

    <div class="modal fade" id="modal-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{settings.title}}</h4>
                </div>

                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <form class="form-horizontal" name="form">
                                <div class="form-group">
                                    <label for="id" class="col-sm-2 control-label">Id</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="id" readonly="readonly" ng-model="employee.Id" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" ng-required ng-model="employee.Name" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="email" ng-required ng-model="employee.Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="position" class="col-sm-2 control-label">Position</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="position" ng-model="employee.Position" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="department" class="col-sm-2 control-label">Department</label>
                                    <div class="col-sm-10">
                                        <select id="department" class="form-control" ng-init="employee.DepartmentId" ng-model="employee.DepartmentId" ng-options="department.Id as department.Name for department in departments"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="bio" class="col-sm-1 control-label">Bio</label>
                                    <div class="col-sm-12">
                                        <textarea class="form-control" id="bio" ng-model="employee.Bio"></textarea>
                                    </div>
                                </div>
                            </form>
                            <div class="form-group has-error">
                                <div ng-repeat="error in errors" class="control-label">{{error}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-primary" ng-click="saveEmployee()">Save</button>
                </div>
            </div>
        </div>
    </div>


    <hr />
    <div class="row">
        <table id="emps" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Position</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="emp in employees">
                <tr ng-click="selectEmployee(emp)">
                    <td> <span>{{emp.Id}}</span></td>
                    <td> <span>{{emp.Name}}</span></td>
                    <td> <span>{{emp.Email}}</span></td>
                    <td> <span>{{emp.Position}}</span></td>
                    <td> <button class="btn btn-danger" ng-click="deleteEmployee(emp); $event.stopPropagation()">Delete</button> </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>