﻿@{
    ViewBag.Title = "Single Page Application";
}

<div ng-app="spa">

    <div ng-view>
    </div>

</div>



@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.js"></script>
    <script src="~/Scripts/_app/app.js"></script>
}